@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post" action="/TestEmocional/Evaluar">
            <input type="text" name="respuestas" value="Me siento triste" />
            <input type="text" name="respuestas" value="Estoy preocupado" />
            <input type="text" name="respuestas" value="Nada me sale bien" />

            <button type="submit">Enviar Test</button>
        </form>

    </div>
</body>
</html>
